body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    color: pink;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: beige;
    color: pink;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: pink;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.auth-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.auth-form h2 {
    margin-top: 0;
}

.auth-form label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
}

.auth-form input {
    width: calc(100% - 22px); /* Account for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: pink;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #555;
}

#loginMessage, #signupMessage {
    color: red;
    margin-top: 10px;
}
